[submodule "bundle/flattened"]
	path = bundle/flattened
	url = https://github.com/romainl/flattened.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-solarized8"]
	path = bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "bundle/vim-code-dark"]
	path = bundle/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
[submodule "bundle/zenburn"]
	path = bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "bundle/papercolor-theme"]
	path = bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "bundle/csv.vim"]
	path = bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "bundle/python-syntax"]
	path = bundle/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "bundle/STL-Syntax"]
	path = bundle/STL-Syntax
	url = https://github.com/Mizuchi/STL-Syntax.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-SyntaxRange"]
	path = bundle/vim-SyntaxRange
	url = https://github.com/inkarkat/vim-SyntaxRange.git
[submodule "bundle/vim-ingo-library"]
	path = bundle/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
